
@{
    ViewBag.Title = "Import";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Import from Excel </h2>
<br />

@using (Html.BeginForm("Import", "Devices", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    @Html.Raw(ViewBag.Error)
    <h5><strong><span> Select Excel File  </span></strong></h5>
    <input type="file" name="excelFile" />
    <br />
    <br />
    <h8><strong><span> Click import to import your devices from Excel.  This option cannot be undone.  </span></strong></h8>
    <br />
    <input type="submit" value="Import" />
}


