@{
    ViewBag.Title = "Home Page";
}

<div @*class="jumbotron"*@>
    <h1>CRSS School Asset Records and Housekeeping System</h1>
    <p class="lead">.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>People</h2>
        <p>
            Use this area to add and retire people.
            See link above to access.
            <div>
                <img src="~/Content/Images/People.jpg" width="300" />
            </div>
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Device Management</h2>
        <p>
            Use this area to maintain the information about devices.
            See link above to access.
            <br>
            <div>
                <img src="~/Content/Images/assets.png" width ="300" />
            </div>
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Loans</h2>
        <p>
            Use this area to assign devices on loan.
            See link above to access.
            <div>
                <img src="~/Content/Images/contract.png" width = "300" />
            </div>
        </p>
        
    </div>
</div>