@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CRSS Information Technology Asset System.</h1>
    <p class="lead">.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Login to eat pizza
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Check Yoda</h2>
        <p>
            Did Yoda really die?
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>
            Something about reports.
        </p>
        
    </div>
</div>